altgraph==0.16.1
appnope==0.1.0
appscript==1.1.0
astroid==2.4.2
async-generator==1.10
attrs==21.2.0
auto-py-to-exe==2.6.5
Babel==2.7.0
backcall==0.1.0
beautifulsoup4==4.8.0
bleach==3.1.1
boto3==1.11.11
botocore==1.14.11
bottle==0.12.17
bottle-websocket==0.2.9
CacheControl==0.12.6
cachetools==4.0.0
certifi==2019.3.9
cffi==1.13.2
chardet==3.0.4
Click==7.0
cloudant==2.12.0
colorize==1.1.0
comtypes==1.1.7
cryptography==36.0.2
cv==1.0.0
cv2-tools==2.3.4
cycler==0.10.0
dash==1.0.2
dash-auth==1.3.2
dash-colorscales==0.0.4
dash-core-components==1.0.0
dash-daq==0.3.3
dash-enterprise-auth==0.0.3
dash-html-components==1.0.0
dash-renderer==1.0.0
dash-table==4.0.2
DateTime==4.3
decorator==4.4.0
defusedxml==0.6.0
Django==2.2.4
dnspython==1.16.0
docutils==0.15.2
docx==0.2.4
docx2pdf==0.1.5
Eel==0.10.4
entrypoints==0.3
et-xmlfile==1.0.1
firebase==3.0.1
firebase-admin==3.2.1
Flask==1.1.1
Flask-Assets==0.12
Flask-Caching==1.7.2
Flask-Compress==1.4.0
Flask-Cors==3.0.10
Flask-Login==0.4.1
Flask-SeaSurf==0.2.2
flask-talisman==0.7.0
future==0.17.1
gcloud==0.17.0
geographiclib==1.49
geojson==2.5.0
geopy==1.20.0
gevent==1.4.0
gevent-websocket==0.10.1
google==2.0.2
google-api-core==1.16.0
google-api-python-client==1.7.11
google-auth==1.11.0
google-auth-httplib2==0.0.3
google-cloud-core==1.3.0
google-cloud-firestore==1.6.2
google-cloud-storage==1.25.0
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
googlefinance==0.7
greenlet==0.4.15
grpcio==1.27.0
h11==0.12.0
httplib2==0.13.1
ibm-cloud-sdk-core==1.0.0
ibm-cos-sdk==2.6.3
ibm-cos-sdk-core==2.6.3
ibm-cos-sdk-s3transfer==2.6.3
ibm-watson==4.0.1
idna==2.8
ImageHash==4.0
imageio==2.5.0
importlib-metadata==1.5.0
imutils==0.5.3
ipdb==0.11
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.12
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.14.1
json5==0.9.1
jsondiff==1.2.0
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.4.0
jupyter-server==0.1.1
jupyterlab==1.2.6
jupyterlab-pygments==0.1.0
jupyterlab-server==1.0.6
jws==0.1.3
jwt==1.3.1
keyboard==0.13.4
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
lomond==0.3.3
lxml==4.4.1
macholib==1.11
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mime==0.1.0
mistune==0.8.4
mongo==0.2.0
msgpack==0.6.2
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.3
newsapi==0.1.1
newsapi-python==0.2.5
nltk==3.4.5
notebook==6.0.3
numpy==1.16.4
oauth2client==3.0.0
opencv-python==4.1.1.26
openpyxl==2.6.0
outcome==1.1.0
paho-mqtt==1.5.0
pandas==0.25.0
pandocfilters==1.4.2
parso==0.6.1
pathlib==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.1.0
pipenv==2018.11.26
plotly==4.0.0
powerline-status==2.7
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.9.1
psutil==5.6.3
psycopg2-binary==2.8.5
PTable==0.9.2
ptyprocess==0.6.0
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycparser==2.19
pycryptodome==3.4.3
Pygments==2.5.2
PyInstaller==3.5
PyJWT==1.7.1
pylint==2.5.3
pymongo==3.10.1
pyobjc==6.1
pyobjc-core==6.1
pyobjc-framework-Accounts==6.1
pyobjc-framework-AddressBook==6.1
pyobjc-framework-AdSupport==6.1
pyobjc-framework-AppleScriptKit==6.1
pyobjc-framework-AppleScriptObjC==6.1
pyobjc-framework-ApplicationServices==6.1
pyobjc-framework-AuthenticationServices==6.1
pyobjc-framework-Automator==6.1
pyobjc-framework-AVFoundation==6.1
pyobjc-framework-AVKit==6.1
pyobjc-framework-BusinessChat==6.1
pyobjc-framework-CalendarStore==6.1
pyobjc-framework-CFNetwork==6.1
pyobjc-framework-CloudKit==6.1
pyobjc-framework-Cocoa==6.1
pyobjc-framework-Collaboration==6.1
pyobjc-framework-ColorSync==6.1
pyobjc-framework-Contacts==6.1
pyobjc-framework-ContactsUI==6.1
pyobjc-framework-CoreAudio==6.1
pyobjc-framework-CoreAudioKit==6.1
pyobjc-framework-CoreBluetooth==6.1
pyobjc-framework-CoreData==6.1
pyobjc-framework-CoreHaptics==6.1
pyobjc-framework-CoreLocation==6.1
pyobjc-framework-CoreMedia==6.1
pyobjc-framework-CoreMediaIO==6.1
pyobjc-framework-CoreML==6.1
pyobjc-framework-CoreMotion==6.1
pyobjc-framework-CoreServices==6.1
pyobjc-framework-CoreSpotlight==6.1
pyobjc-framework-CoreText==6.1
pyobjc-framework-CoreWLAN==6.1
pyobjc-framework-CryptoTokenKit==6.1
pyobjc-framework-DeviceCheck==6.1
pyobjc-framework-DictionaryServices==6.1
pyobjc-framework-DiscRecording==6.1
pyobjc-framework-DiscRecordingUI==6.1
pyobjc-framework-DiskArbitration==6.1
pyobjc-framework-DVDPlayback==6.1
pyobjc-framework-EventKit==6.1
pyobjc-framework-ExceptionHandling==6.1
pyobjc-framework-ExecutionPolicy==6.1
pyobjc-framework-ExternalAccessory==6.1
pyobjc-framework-FileProvider==6.1
pyobjc-framework-FileProviderUI==6.1
pyobjc-framework-FinderSync==6.1
pyobjc-framework-FSEvents==6.1
pyobjc-framework-GameCenter==6.1
pyobjc-framework-GameController==6.1
pyobjc-framework-GameKit==6.1
pyobjc-framework-GameplayKit==6.1
pyobjc-framework-ImageCaptureCore==6.1
pyobjc-framework-IMServicePlugIn==6.1
pyobjc-framework-InputMethodKit==6.1
pyobjc-framework-InstallerPlugins==6.1
pyobjc-framework-InstantMessage==6.1
pyobjc-framework-Intents==6.1
pyobjc-framework-IOSurface==6.1
pyobjc-framework-iTunesLibrary==6.1
pyobjc-framework-LatentSemanticMapping==6.1
pyobjc-framework-LaunchServices==6.1
pyobjc-framework-libdispatch==6.1
pyobjc-framework-LinkPresentation==6.1
pyobjc-framework-LocalAuthentication==6.1
pyobjc-framework-MapKit==6.1
pyobjc-framework-MediaAccessibility==6.1
pyobjc-framework-MediaLibrary==6.1
pyobjc-framework-MediaPlayer==6.1
pyobjc-framework-MediaToolbox==6.1
pyobjc-framework-MetalKit==6.1
pyobjc-framework-ModelIO==6.1
pyobjc-framework-MultipeerConnectivity==6.1
pyobjc-framework-NaturalLanguage==6.1
pyobjc-framework-NetFS==6.1
pyobjc-framework-Network==6.1
pyobjc-framework-NetworkExtension==6.1
pyobjc-framework-NotificationCenter==6.1
pyobjc-framework-OpenDirectory==6.1
pyobjc-framework-OSAKit==6.1
pyobjc-framework-OSLog==6.1
pyobjc-framework-PencilKit==6.1
pyobjc-framework-Photos==6.1
pyobjc-framework-PhotosUI==6.1
pyobjc-framework-PreferencePanes==6.1
pyobjc-framework-PubSub==6.1
pyobjc-framework-PushKit==6.1
pyobjc-framework-Quartz==6.1
pyobjc-framework-QuickLookThumbnailing==6.1
pyobjc-framework-SafariServices==6.1
pyobjc-framework-SceneKit==6.1
pyobjc-framework-ScreenSaver==6.1
pyobjc-framework-ScriptingBridge==6.1
pyobjc-framework-SearchKit==6.1
pyobjc-framework-Security==6.1
pyobjc-framework-SecurityFoundation==6.1
pyobjc-framework-SecurityInterface==6.1
pyobjc-framework-ServiceManagement==6.1
pyobjc-framework-Social==6.1
pyobjc-framework-SoundAnalysis==6.1
pyobjc-framework-Speech==6.1
pyobjc-framework-SpriteKit==6.1
pyobjc-framework-StoreKit==6.1
pyobjc-framework-SyncServices==6.1
pyobjc-framework-SystemConfiguration==6.1
pyobjc-framework-SystemExtensions==6.1
pyobjc-framework-UserNotifications==6.1
pyobjc-framework-VideoSubscriberAccount==6.1
pyobjc-framework-VideoToolbox==6.1
pyobjc-framework-Vision==6.1
pyobjc-framework-WebKit==6.1
pyOpenSSL==19.1.0
pyowm==2.10.0
pyparsing==2.4.2
pypi==2.1
Pyrebase==3.0.27
pyrsistent==0.15.2
python-constraint==1.4.0
python-dateutil==2.8.0
python-docx==0.8.10
python-jwt==2.0.1
python-magic==0.4.15
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1.1
pyzmq==18.1.1
qtconsole==4.7.4
QtPy==1.9.0
requests==2.11.1
requests-toolbelt==0.7.0
retrying==1.3.3
rsa==4.0
s3transfer==0.3.2
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.1
selenium==4.1.0
Send2Trash==1.5.0
shap==0.32.1
six==1.12.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==1.9.3
SpeechRecognition==3.8.1
sqlparse==0.3.0
tabulate==0.8.7
terminado==0.8.3
testpath==0.4.4
tkfilebrowser==2.3.2
toml==0.10.1
tornado==6.0.3
tqdm==4.43.0
traitlets==4.3.2
trio==0.19.0
trio-websocket==0.9.2
typed-ast==1.4.0
ua-parser==0.8.0
uritemplate==3.0.1
urllib3==1.26.7
virtualenv==16.7.8
virtualenv-clone==0.5.3
voila==0.1.20
waitress==1.4.4
watson-developer-cloud==2.10.1
watson-machine-learning-client==1.0.378
wcwidth==0.1.8
weather-api==1.0.7
weather-forecast==0.49
webassets==0.12.1
webencodings==0.5.1
websocket-client==0.48.0
Werkzeug==0.15.5
whichcraft==0.6.0
widgetsnbextension==3.5.1
wikiquote==0.1.14
wiotp-sdk==0.11.0
wrapt==1.11.2
wsproto==1.0.0
xlrd==1.2.0
XlsxWriter==1.1.8
zipp==3.0.0
zope.interface==4.7.1
