<head>
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<script>
function subtractDays(numOfDays, date = new Date()) {
  date.setDate(date.getDate() - numOfDays);

  return date;
}
</script>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Navn</th>
        <th scope="col">Bolde </th>
        <th scope="col">Dunke </th>
      </tr>
    </thead>
    <tbody>
      {% for k in listofitems %}
      <tr>
        <td>{{k.name}}</td>
        <td>{{k.bolde}}</td>
        <td>{{k.dunke}}</td>
      </tr>
{% endfor %}

    </tbody>
  </table>

  <p>_____________________________________________</p>
  
  <form method="POST">
    <form>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Hvem har boldene nu?</label>
        <select class="form-control" id="exampleFormControlSelect1" name="bolde">
          <option>Alperen</option>
          <option>Kurt</option>
          <option>Kenny</option>
          <option>Sami</option>
          <option>Daniel</option>
          <option>Mikkel</option>
          <option>Frederik</option>
          <option>Emre</option>
          <option>Mustafa</option>
          <option>Seref</option>
          <option>Tufan</option>
          <option>Cemil</option>
          <option>Ismail</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Hvem har dunkene nu?</label>
        <select class="form-control" id="exampleFormControlSelect2" name="dunke">
          <option>Alperen</option>
          <option>Kurt</option>
          <option>Kenny</option>
          <option>Sami</option>
          <option>Daniel</option>
          <option>Mikkel</option>
          <option>Frederik</option>
          <option>Emre</option>
          <option>Mustafa</option>
          <option>Seref</option>
          <option>Tufan</option>
          <option>Cemil</option>
          <option>Ismail</option>
        </select>
      </div>
      <input class="btn btn-primary" value="Gem" type ="submit"></input>
    </form>

  </form>